#Servicingform {
  .Servicing {
    h1 {
      color: var(--primaryTextcolor);
      margin-bottom: 10px;
    }
    p {
      color: var(--primaryTextcolor);
      margin-bottom: 20px;
    }
    .form {
      form {
        > div {
          margin-bottom: 20px;
        }
        > div {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 20px;

          h4 {
            grid-column: 1/5;
          }
          select {
            width: 100%;
          }
        }
        h4 {
          color: var(--primaryTextcolor);
        }
        .row {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;
        }
        .row > div {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;
        }
        .Message {
          display: block;
          h4 {
            margin-bottom: 20px;
          }
        }
        .btn {
          button {
            padding: 15px;
            font-size: 14px;
            font-weight: 600;
            color: white;
            background: green;
          }
        }
      }
    }
  }
}

input,
select,
textarea {
  background: rgba(142, 142, 142, 0.2);
  border-radius: 6px;
  width: 100%;
  padding: 15px 10px;
  color: var(--primaryTextcolor);
}

input::placeholder {
  color: var(--primaryTextcolor);
}
