#Homepage {
  background-image: url("../../image/background.png");
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.homepage > section {
  padding: 8rem 0;
}
#Homepage {
  .homepageDetail {
    margin: 15rem 0px;
    h1 {
      font-family: var(--primaryfontfamily);
      font-size: 60px;
      font-weight: 400;
      color: var(--primaryTextcolor);
      margin-bottom: 1rem;
    }
    h5 {
      color: var(--secondaryTextcolor);
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 4rem;
    }
    button {
      padding: 1rem 3rem;
      gap: 40px;
      font-weight: 500;
      border-radius: 250px;
    }
  }
}
