.dashboard {
  height: 100%;
  background-color: #000000;
  color: var(--primaryTextcolor);

  .maincontent {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 3rem;
    h1 {
      color: var(--primaryTextcolor);
      font-family: var(--primaryfontfamily);
      font-weight: 400;
      margin-bottom: 2rem;
    }
    .counter {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      > div {
        height: 20rem;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 12px;
      }
    }
  }
}
.ant-table {
  background: #252525 !important;
  color: white !important;
  padding: 2rem !important;
  border-radius: 12px !important;
}
.ant-table-tbody > tr:nth-child(even) {
  background: #121212 !important;
}
.ant-table-tbody > tr > td {
  border: none !important;
}

.ant-table.row-hover:hover {
  background: transparent !important;
  color: var(--primary) !important;
}
.ant-table-thead > tr > th {
  background: #121212 !important;
  color: white !important;
  border: none !important;
}
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  background: transparent !important;
  color: var(--primary) !important;
}
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
.ant-upload.ant-upload-select-picture-card {
  background: #252525 !important;
  color: white !important;
  border: none !important;
}
.ant-upload {
  color: white !important;
}
label {
  color: white !important;
}

.dashboard {
  input,
  textarea,
  select {
    background: #252525 !important;
    padding: 15px 10px !important;
    color: white !important;
    border: none;
    width: 100%;
    border-radius: 6px !important;
  }
}

@media all and (max-width: 1366px) {
  .sidebar .sidebarLinks .link {
    font-size: 14px;
  }
  .dashboard {
    .maincontent {
      .counter {
        grid-template-columns: repeat(3, 1fr);
        > div {
          height: 15rem;
        }
      }
    }
  }
}
