#Footer {
  background: #242424;
  padding: 6rem 0;
}

.footer {
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    div {
      .links {
        gap: 20px;
      }
      h4 {
        color: var(--primaryTextcolor);
        font-size: 24px;
        margin-bottom: 2rem;
      }
      p {
        color: var(--secondaryTextcolor);
        line-height: 150%;
        font-size: 16px;
      }
      h5 {
        color: var(--primaryTextcolor);
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
      }
    }
  }
}
